@page
@model ERP.Pages.CityView.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit City</h2>
<hr />

<div class="container">
    <div class="panel-group">
        <form method="post">
            <div class="panel panel-primary">
                <div class="panel-heading">City</div>
                <div class="panel-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="City.Id" />

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="City.Name" class="control-label"></label>
                            <input asp-for="City.Name" class="form-control" />
                            <span asp-validation-for="City.Name" class="text-danger"></span>
                        </div>
                    </div>

                    @*<div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="City.Description" class="control-label"></label>
                            <input asp-for="City.Description" class="form-control" />
                            <span asp-validation-for="City.Description" class="text-danger"></span>
                        </div>
                    </div>*@


                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="City.Code" class="control-label"></label>
                            <input asp-for="City.Code" class="form-control" />
                            <span asp-validation-for="City.Code" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="City.RegionId" class="control-label"></label>
                            <select asp-for="City.RegionId" class="form-control" asp-items="ViewBag.RegionId"></select>
                            <span asp-validation-for="City.RegionId" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Actions</div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
