@page
@model ERP.Pages.DesignationView.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Designation</h2>
<hr />

<div class="container">
    <div class="panel-group">
        <form method="post">
            <div class="panel panel-primary">
                <div class="panel-heading">Edit Designation Data Entry</div>
                <div class="panel-body">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Designation.Id" />

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Designation.Name" class="control-label"></label>
                            <input asp-for="Designation.Name" class="form-control" />
                            <span asp-validation-for="Designation.Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Designation.Description" class="control-label"></label>
                            <input asp-for="Designation.Description" class="form-control" />
                            <span asp-validation-for="Designation.Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Actions</div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Go Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
