@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   Hash Solutions <br />
    Virtual Space, VS 999-000<br />
    <abbr title="Phone">P:</abbr>
    050-9705440
</address>

<address>
    <strong>Support:</strong> <a href="mailto:mirza.sohailt@hotmail.com">mirza.sohailt@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mwasghar@hotmail.com">mwasghar@hotmail.com</a>
</address>
